.Signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.Signup_form {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  width: 100%;
  max-width: 400px;
}
.Google_btn {
  color: #000;
  border: 3px solid #000;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  outline: none;
  text-align: center;
}
.or {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
.user_email {
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  color: #282828;
  padding-left: 12px;
  background-color: white;
  font-size: 16px;
  margin-bottom: 16px;
  border-color: #5551ff;
}
.user_password {
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  color: #282828;
  padding-left: 12px;
  font-size: 16px;
  margin-bottom: 16px;
}
.create_account_btn {
  background-color: #000;
  border-color: #000;
  color: #fff;
  cursor: pointer;
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 16px;
}
.Signup_detail {
  display: flex;
  justify-content: center;
}
.Already_account {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.login_account {
  text-decoration: none;
  color: #5551ff;
  font-size: 18px;
}
.login_account:hover {
  text-decoration: underline;
  text-decoration-color: #5551ff;
}
